* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.caja1 {
    
    height: 100vh;
}

.caja2 {
    
    height: 100vh;
}

.caja3 {
    
    height: 100vh;
}

.caja4 {
    
    height: 80px;
}

.caja5 {
    
    height: 80px;
}

.caja6 {
    
    height: 80px;
}

.caja7 {
    
    height: 600px;
}

.caja8 {
    
    height: 600px;
}

.caja9 {
    
    height: 600px;
}

.caja10 {
    
    height: 600px;
}

ul {
    list-style: none
}

.circulos {
    border-radius: 100%;
    height: 65px;
    width: 65px;
    border: solid 2px #ee2a7b;
    padding: 2px;
    margin: 8px; 
}

.circulito {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding: 2px;
    margin: 8px;
}

p, .nombreCirculos {
    font-size: 12px;
}

.saltoLinea {
    margin-left: -75px;
    margin-top: 35px;
}

.sobreCorazon:hover {
    background-color: rgb(199, 199, 199);
}

@media (min-width: 150px) and (max-width: 1199px) {
    .ocultarCaja3 {
        display: none;
    }
}

@media (min-width: 150px) and (max-width: 768px) {
    .ocultarCaja1 {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 6400px) {
    .ocultarContenedor {
        display: none;
    }
}

ul {
    padding-left: 0;
}

/* INSTAGRAM
    background: rgb(249,206,52);
    background: linear-gradient(90deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 35%, rgba(98,40,215,1) 100%);
*/
    
ul li{
      list-style-type: none;
}
.cuentaverificado{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    height: 40px;
}
.danna{
    padding-top: 20px;
    font-weight: bold;
}
.hora{ 
    padding-top: 20px;
    color: gray;
}